<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Demo Shop</title>
    <link rel="stylesheet" href="style.css">

    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.8/dist/vue.js"></script>
</head>

<body>

<div id="app">

    <div class="wrapper">
        <section class="header">
            <div class="container">
                <div class="header-content">
                    <img src="image/logo.svg" alt="">
                    <div class="menu">
                        <div class="nav-menu">
                            <ul>
                                <li><a href="">Продукт</a></li>
                                <li><a href="">Решения</a></li>
                                <li><a href="">Разработчикам</a></li>
                                <li><a href="">Внутри</a></li>
                                <li><a href="">Demo</a></li>
                            </ul>
                            <div class="language">
                                <ul>
                                    <li><a href="">Ru</a></li>
                                    <li><a href="">En</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="login">
                            <a href="">Вход</a>
                            <a class="begin" href="">Начать</a>
                        </div>
                    </div>

                    <div class="burger-menu" @click="openMenu()">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>

                </div>
            </div>

        </section>

        <div class="container">

            <section class="sub-header">
                <div class="sub-header-item d-flex">
                    <p class="title">DEMO SHOP <span>SIGNALPAY</span></p>
                    <p class="sub-title">
                        Попробуйте воспользоваться
                        нашим платежным сервисом
                    </p>
                </div>
                <div class="sub-header-item d-flex">
                    <div class="d-flex align-items-c">
                        <img src="image/SSL-Secured.svg" alt="">
                        <img src="image/pci-dss-compliant-logo.svg" alt="">
                        <p class="text-grey">Платежные данные защищены</p>
                    </div>

                    <div class="lock d-flex align-items-c">
                        <img src="image/lock.svg" alt="">
                        <p class="text-grey">Тестовый шлюз, деньги с карты не списываются </p>
                    </div>

                </div>
            </section>


            <section class="product d-flex">
                <div class="absolute">
                    <div class="sticky">
                        <a class="product-basket-button" @click.prevent="openCart()" href="#"><span>{{ cart.length }}</span></a>

                    </div>
                </div>

                <div class="product-item" v-for="product in products">
                    <img class="img-cart" :src="product.image" alt="">
                    <div class="content-item-text">
                        <p class="product-title">{{ product.title }}</p>
                        <p class="product-subtitle text-grey">{{ product.subtitle }}</p>
                        <p class="price">{{ product.price }} руб.<span class="old-price text-grey"
                                                                       v-if="product.old_price">{{ product.old_price }} руб.</span>
                        </p>
                        <div class="product-button">
                            <a href="#" class="btn product-buy" @click="buy(product)">Купить</a>
                            <a href="#" class="product-basket" :class="{'exists': isExistsInCart(product)}"
                               @click.prevent="addToCart(product)">
                                <img src="image/shopping-cart.svg" alt="" v-if="!isExistsInCart(product)">
                                <img src="image/shopping-cart-exists.svg" alt="" v-else>
                            </a>
                        </div>
                    </div>
                </div>


            </section>
        </div>
        <section class="footer">
            <div class="container">
                <div class="footer-block">
                    <div class="footer-block-up d-flex">
                        <div class="footer-logo">
                            <img src="image/footer-logo.png" alt="">
                            <p class="d-flex">© 2023 ООО "Сигналпэй"
                                <a href="">hello@signalpay.ru</a>
                            </p>
                        </div>
                        <div class="product-menu d-flex ">
                            <div class="product-menu-item">
                                <h3>ПРОДУКТ</h3>
                                <ul class="d-flex">
                                    <li><a href="">Ссылка на оплату</a></li>
                                    <li><a href="">Сигнал Поля</a></li>
                                    <li><a href="">Сигнал Форма</a></li>
                                    <li><a href="">Внутри сигнала</a></li>
                                </ul>
                            </div>
                            <div class="product-menu-item">
                                <h3>РЕШЕНИЯ</h3>
                                <ul class="d-flex">
                                    <li><a href="">Instagram Stories</a></li>
                                    <li><a href="">МКК и МФК</a></li>
                                    <li><a href="">Такси и каршеринг</a></li>
                                    <li><a href="">Доставка еды, кафе и рестораны</a></li>
                                    <li><a href="">Благотворительные фонды и краудфайдинги</a></li>
                                    <li><a href="">Онлайн обучение</a></li>
                                </ul>
                            </div>
                            <div class="product-menu-item">
                                <h3>ДОКУМЕНТАЦИЯ</h3>
                                <ul class="d-flex">
                                    <li><a href="">Политика конфиденциальности</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="footer-block-down ">
                        <div class="footer-block-down-item">
                            <p>Оператор по переводу денежных средств осуществляет: КИВИ Банк (АО), ИНН 3123011520, адрес
                                117648, г. Москва, мкр. Чертаново Северное, д. 1А, корп. 1; лицензия ЦБ РФ на
                                осуществление
                                банковских операций № 2241;
                                тел. +7 (495) 231-36-45/46; +7 (495) 009-00-99, 8-800-200-62-25 (звонок по России
                                бесплатный)</p>
                            <p>Договор между оператором по переводу денежных средств и БПА-А № ПИ-И-05340/2023, на
                                основании
                                которого осуществляются операции платежного агрегатора</p>
                        </div>
                        <div class="footer-block-down-item">
                            <p>Платежные операции осуществляет платежный агрегатор (БПА-А) Сигналпэй (ООО), ИНН
                                7704841242,
                                адрес: 117485, Москва г, Бутлерова ул., дом 7Б, офис 268</p>
                        </div>
                        <div class="footer-block-down-item">
                            <p>Претензии, пожелания и предложения подаются и обрабатываются в порядке очереди по адресу
                                электронной почты: hello@signalpay.ru и тел. +7-999-777-96-97</p>
                        </div>
                    </div>

                </div>

            </div>
        </section>
    </div>
    <div v-if="cartIsOpen" class="modal-wrapper cart">
        <div class="modal-cart d-flex">
            <div class="modal-cart-title d-flex">
                <p>КОРЗИНА</p>
                <button class="btn-close" @click.prevent="closeCart()"><img src="image/close.png" alt=""></button>
            </div>
            <div class="product-list">
                <div class="modal-cart-product d-flex" v-for="item in cart">
                    <img :src="item.product.image" alt="">
                    <div class="modal-cart-product-text d-flex">
                        <p>{{ item.product.title }}</p>
                        <p class="text-grey">{{ item.product.subtitle }}</p>
                    </div>

                    <div class="modal-cart-product-button">
                        <button class="button-minus" @click.prevent="item.count != 1 ? item.count-- : ''"><img
                                src="image/minus.svg" alt=""></button>
                        <span class="col">{{ item.count }}</span>
                        <button class="button-plus" @click.prevent="item.count++"><img src="image/plus.svg" alt="">
                        </button>
                    </div>
                    <div class="modal-cart-product-price">
                        {{ item.product.price * item.count }} руб.
                    </div>


                    <button class="btn-close" @click.prevent="removeFromCart(item.product)"><div></div><img
                            src="image/close-mini.svg" alt=""></button>
                </div>
            </div>
            <div class="product-list product-list-mobile close">
                <div class="modal-cart-product d-flex" v-for="item in cart">
                    <img :src="item.product.image" alt="">
                    <div>
                        <div class="modal-cart-product-text d-flex">
                            <p>{{ item.product.title }}</p>
                            <p class="text-grey">{{ item.product.subtitle }}</p>
                        </div>
                        <div class="button-price d-flex justify-content-between">
                            <div class="modal-cart-product-button">
                                <button class="button-minus" @click.prevent="item.count != 1 ? item.count-- : ''"><img
                                        src="image/minus.svg" alt=""></button>
                                <span class="col">{{ item.count }}</span>
                                <button class="button-plus" @click.prevent="item.count++"><img src="image/plus.svg"
                                                                                               alt=""></button>
                            </div>
                            <div class="modal-cart-product-price">
                                {{ item.product.price * item.count }} руб.
                            </div>
                        </div>
                    </div>
                    <button class="btn-delete btn-close" @click.prevent="removeFromCart(item.product)"><img
                            src="image/close-mini.svg" alt=""></button>

                </div>
            </div>
            <div class="modal-cart-result d-flex justify-content-between">
                <p>ИТОГО</p>
                <p>{{ totalCartSum }} руб.</p>
            </div>
            <div class="modal-cart-check">
                <div class="modal-cart-check-up d-flex justify-content-between">
                    <div class="modal-cart-check-up-text">
                        Выслать кассовый чек
                    </div>
                    <div class="modal-cart-check-up-radio">
                        <div class="email">
                            <input id="email" class="close" type="radio" name="radio" checked>
                            <span class="radio"></span>
                            <label for="email">На почту</label>
                        </div>
                        <div class="sms">
                            <input id="sms" class="close" type="radio" name="radio">
                            <span class="radio"></span>
                            <label for="sms">sms</label>
                        </div>

                    </div>
                </div>
                <div class="modal-cart-check-down">
                    <input type="email" placeholder="Ваш e-mail">
                </div>
            </div>
            <a class="btn" href="#" @click.prevent="openPayment()">Оплатить</a>
        </div>
    </div>
    <div v-if="paymentIsOpen" class="modal-wrapper">
        <div class="modal-payment">
            <div class="modal-payment-header">
                <p>ТЕСТОВЫЙ <span>РЕЖИМ РАБОТЫ</span></p>
                <button class="btn-close" @click.prevent="closePayment()"><img src="image/close.png" alt=""></button>
            </div>
            <div class="modal-payment-content">
                <div class="modal-payment-content-header">
                    <img src="image/footer-logo.png" alt="">
                    <p>Оплата товаров в signalpay.ru</p>
                    <span>{{ productBuy?.price ?? totalCartSum }} руб.</span>
                </div>
                <div class="modal-payment-content-form">
                    <div class="modal-payment-content-form-item">
                        <input type="number" placeholder="Номер карты">
                    </div>
                    <div class="modal-payment-content-form-item">
                        <input type="number" placeholder="ММ / ГГ">
                        <input type="number" placeholder="CVV">
                    </div>
                </div>
                <div class="modal-payment-content-email">
                    <div class="modal-payment-content-email-item">
                        <input type="checkbox">
                        <p>Отправить квитанцию на E-mail</p>
                    </div>
                    <div class="modal-payment-content-email-item">
                        <input class="pay-email" type="email" placeholder="Ваш e-mail">
                    </div>
                </div>
                <a class="btn" href="#">Оплатить {{ productBuy?.price ?? totalCartSum }} руб.</a>
                <div class="modal-payment-content-pay">
                    <img src="image/google-pay.jpg" alt="">
                    <img src="image/samsung-pay.jpg" alt="">
                    <img src="image/apple-pay.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
    <div class="menu-mobile-back" :class="{'open': menuIsOpen}">
        <div class="menu-mobile">
            <div>
                <img src="image/logo.svg" alt="">
                <button class="btn-close" @click.prevent="closeMenu()"><img src="image/close-white.png" alt=""></button>
                <div class="nav-menu">
                    <ul>
                        <li><a href="">Продукт</a></li>
                        <li><a href="">Решения</a></li>
                        <li><a href="">Разработчикам</a></li>
                        <li><a href="">Внутри</a></li>
                        <li><a href="">Demo</a></li>
                    </ul>
                </div>
            </div>
            <div class="menu-mobile-footer">
                <div class="login">
                    <a class="begin" href="">Начать</a>
                    <a class="go" href="">Вход</a>
                </div>
                <div class="language">
                    <ul>
                        <li><a href="">En</a></li>
                        <li><a href="">Ru</a></li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</div>
<script src="js/app.js"></script>
</body>
</html>