@font-face {
  font-family: "Mediator Narrow Web";
  src: url("../../fonts/Mediator Narrow Web.ttf");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Mediator Narrow Web";
  src: url("../../fonts/Mediator Narrow Web Bold.ttf");
  font-style: normal;
  font-weight: bold;
}