//Header
.header {
  background: $black;
  padding: 34px 0;
  margin-bottom: 70px;

  .menu,
  .header-content {
    display: flex;
    gap: 98.33px;
    justify-content: space-between;
    align-items: center;
  }

  .menu {
    gap: 87px;

    .login {
      display: flex;
      gap: 29px;
      align-items: center;

      .begin {
        background: $orange;
        padding: 12px 52px 12px 52px;
        border-radius: 27px;
      }

      a {
        color: $white;
        text-decoration: none;
        font-weight: 700;
      }
    }

    .language,
    .nav-menu {
      display: flex;
      gap: 133px;

      ul {
        display: flex;
        gap: 25px;

        li {
          a {
            color: $white;
            text-decoration: none;
            font-weight: 700;
            line-height: 21px;
            letter-spacing: 0.02em;
          }

          a:hover {
            color: $orange;
          }
        }
      }

      .language {
        ul {
          gap: 15px;
        }
      }
    }
  }
}

//Sub-Header
.sub-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;

  &-item {
    flex-direction: column;
    gap: 14px;

    .text-grey {
      font-size: 20px;
    }

    .title,
    .sub-title {
      font-size: 36px;
      font-weight: 700;
      color: orange;
      line-height: 48.1px;

      span {
        color: $black;
      }
    }

    .sub-title {
      color: black;
      font-size: 20px;
      font-weight: 400;
      max-width: 250px;
      line-height: 24.4px;
    }

    div {
      gap: 14px;
    }
  }
}

//Product
.product {
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 155px;
  position: relative;
  &-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-basis: calc(33.3333% - 64px);
    text-align: center;
    background: #FFFFFF;
    box-shadow: 2px 3px 35px rgba(108, 100, 100, 0.11);
    border-radius: 25px;
    padding: 0 25px 25px;

    .img-cart {
      object-fit: contain;
      max-width: 335px;
      margin-bottom: 37px;
    }

    .product-title {
      font-size: 20px;
      line-height: 26.72px;
    }

    .product-subtitle {
      line-height: 21.36px;
      margin-bottom: 10px;
    }

    .price {
      font-weight: 700;
      line-height: 21.38px;
      margin-bottom: 25px;
    }

    .old-price {
      margin-left: 6px;
      font-size: 14px;
      font-weight: 400;
      line-height: 18.7px;
      text-decoration: line-through;
    }

    .product-buy {
      max-width: 270px;
      padding: 15px 0;
    }

    .product-button {
      display: flex;
      flex-wrap: nowrap;
      gap: 10px;
    }

    .product-basket {
      position: relative;
      border-radius: 50%;
      border: 1px solid $orange;
      max-width: 51px;
      max-height: 51px;
      width: 100%;

      img {
        position: absolute;
        top: 50%;
        left: 3px;
        bottom: 0;
        right: 0;
        transform: translateY(-50%);
        margin: 0 auto;
        max-width: 20px;
        width: 100%;
        max-height: 20px;
      }
    }
  }
  &-basket-button {
    position: absolute;
    border: 1px solid $black;
    border-radius: 50%;
    background: $white;
    max-width: 80px;
    max-height: 80px;
    width: 100%;
    height: 100%;
    top: -40px;
    right: 0;

    span {
      position: absolute;
      display: flex;
      align-items: center;
      top: 0;
      right: 0;
      text-decoration: none;
      color: $white;
      background: $orange;
      padding: 0 8px;
      border-radius: 50%;
      height: 21px;
    }
  }
  &-basket-button:before {
    content: "";
    display: block;
    position: absolute;
    width: 34px;
    height: 31px;
    background: url(image/shopping-cart.svg) no-repeat center;
    top: 50%;
    transform: translateY(-50%);
    left: 4px;
    right: 0;
    bottom: 0;
    margin: 0 auto;
    background-size: contain;
  }

}

//Footer
.footer {
  background: $black;
  padding: 85px 0 65px;

  h3, p, a {
    font-family: Arial, sans-serif;
    font-size: 12px;
    color: $footer-text;
  }

  a {
    text-decoration: none;
  }

  &-block-up {
    margin-bottom: 85px;

    .footer-logo {
      max-width: 142px;
      width: 100%;
      margin-right: 175px;

      img {
        margin-bottom: 35px;
      }

      p {
        flex-direction: column;
      }
    }

    .product-menu {
      gap: 138px;

      &-item {
        max-width: 217px;
        justify-content: space-between;

        h3 {
          font-size: 16px;
          font-weight: 700;
          line-height: 18.4px;
          margin-bottom: 20px;
        }

        ul {
          flex-direction: column;
          gap: 20px;

          a {
            font-size: 14px;
            color: $white;
          }
        }
      }
    }
  }
  &-block-down {

    gap: 115px;
    &-item:first-child {
      max-width: 437px;
      flex-basis: 40%;
      margin-right: 130px;
    }
    &-item {
      display: inline-block;
      max-width: 268px;
      flex-basis: 35%;
      margin-right: 80px;
      vertical-align: top;
      p {
        margin-bottom: 20px;
      }
    }
    &-item:last-child {
      margin-right: 0;
    }

  }
}

//Modal
.modal-cart {
  padding: 55px;
  border-radius: 40px;
  background: $white;
  max-width: 602px;
  width: 100%;
  flex-direction: column;
  &-title {
    justify-content: space-between;
    margin-bottom: 35px;
  }
  &-product {
    padding: 22px 0;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid $border;
    margin-bottom: 35px;
    &-text {
      flex-direction: column;
      gap: 6px;
      .text-grey {
        font-size: 14px;
      }
    }
    &:first-child {
       border-bottom: 1px solid $border;
    }
    &:last-child {
      border-bottom: 1px solid $border;
    }
    img {
      max-width: 100px;
      width: 100%;
    }
  }
  &-result {
    margin-bottom: 35px;
  }
  &-check {
    margin-bottom: 50px;
    &-up {
      &-text {
        margin-bottom: 20px;
      }
    }
    &-down {
      input {
        border: 1px solid $grey;
        border-radius: 9px;
        max-width: 550px;
        width: 100%;
        padding: 24px;
        font-size: 14px;
      }
    }
  }
  .btn {
    border-radius: 47px;
    padding: 22px 0;
  }
}
